.four {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.four__bg {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-dark);
}

.four__bgEl {
    z-index: 2;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1000px;
    height: 200px;
    background-image: url(../../../assets/f16.png);
    left: -100%;
    transition: all .1s;
    top: 100%;
}
.four__bgEl_one{
    top: 20%;
    left: 0;
}
.four__bgEl_two{
    top: 25%;
    left: -10%;
}
.four__bgEl_three{
    top: 30%;
    left: -20%;
}

.four__calc {
    width: 100%;
    max-width: var(--max-width);
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    z-index: 5;
}

.four__calc-heading {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.3em;
    text-align: left;
    margin-left: 30%;
    color: var(--col-white);

}

.four__calc-form {
    display: flex;
    gap: 20px;
}

.four__calc-form-count {
    border: 1px solid var(--col-grey);
    transition: all .2s;
    background-color: transparent;
    border-radius: 50%;
    font-family: Bruno Ace;
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
    width: 235px;
    height: 235px;
    display: flex;
    color: var(--col-white);

}

.four__calc-form-count:focus {
    outline: none;
    border-color: var(--col-main);

}

.four__calc-form-dayCount {
    display: flex;
    align-items: center;
}


.four__calc-form-dayCount-el {
    position: relative;
    width: 140px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four__calc-form-dayCount-input {
    position: absolute;
    opacity: 0;

}


.four__calc-form-dayCount-text {
    font-family: Bruno Ace;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 40px;
    transition: all .5s;

}



.four__calc-form-dayCount-line {
    margin: 0;
    position: absolute;
    bottom: 20px;
    width: calc(60% - 40px);
    border-color: var(--col-grey);
    transition: all .5s;
    right: 67%;
}


.four__calc-form-dayCount-line:last-of-type {
    right: 0;
}

.four__calc-form-price {
    margin-top: 111px;
    font-family: Bruno Ace;
    font-size: 35px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--col-white);


}


.four__calc-form-dayCount-input:checked~.four__calc-form-dayCount-line {
    border-color: var(--col-main);
}

.four__calc-form-dayCount-input:checked+.four__calc-form-dayCount-text {
    color: var(--col-main);
}